@import "tailwindcss";

:root {
    font-family: "Outfit", sans-serif;
}

.safe-area {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html {
    background-color: #10011e;
}

body {
  margin: 0;
  min-height: 100vh;
    background-image:
            radial-gradient(circle at 40% 30%, rgba(36, 24, 42, 0.6), rgba(10, 0, 15, 1) 70%),
            radial-gradient(circle at 70% 70%, rgba(25, 9, 33, 0.6), rgba(10, 0, 15, 0.9) 80%);
    background-attachment: fixed;
    background-blend-mode: overlay;
}

#title {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
}

#Welcome-text {
    letter-spacing: 4px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-size: 72px;
    /*background: linear-gradient(45deg, rgb(140, 85, 250) 0%,rgb(200, 215, 253) 75%,rgb(143, 230, 243) 100%);*/
    background: linear-gradient(
            45deg,
            rgb(170, 140, 220) 0%,
            rgb(215, 225, 245) 75%,
            rgb(185, 220, 225) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#movie-title {
    background: linear-gradient(
            90deg,
            rgb(170, 140, 220) 0%,
            rgb(215, 225, 245) 75%,
            rgb(185, 220, 225) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Recommendation-text {
    letter-spacing: 4px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-size:46px;
    background: linear-gradient(
            90deg,
            rgb(170, 140, 220) 0%,
            rgb(215, 225, 245) 75%,
            rgb(185, 220, 225) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}