@import "tailwindcss";

@layer base {
    html {
        font-family: "Outfit", sans-serif;
        min-height: 100%;
        background-image: radial-gradient(
                circle at 55% 45%,
                rgba(37, 25, 42, 0.80) 0%,
                rgba(18, 6, 24, 0.95) 60%,
                rgb(10, 10, 15) 100%
        );
    }

    body {
        margin: 0;
        padding: 1.5rem;
        min-height: 100vh;
        background: transparent;
    }
}

@layer components {
    .header-title {
        letter-spacing: 4px;
        font-weight: bold;
        font-family: "Bebas Neue", sans-serif;
        font-size: 72px;
        background: linear-gradient(
                45deg,
                rgb(170, 140, 220) 0%,
                rgb(215, 225, 245) 75%,
                rgb(185, 220, 225) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    .movie-title {
        background: linear-gradient(
                90deg,
                rgb(170, 140, 220) 0%,
                rgb(215, 225, 245) 75%,
                rgb(185, 220, 225) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .Recommendation-text {
        letter-spacing: 4px;
        font-weight: bold;
        font-family: "Bebas Neue", sans-serif;
        font-size:46px;
        background: linear-gradient(
                90deg,
                rgb(170, 140, 220) 0%,
                rgb(215, 225, 245) 75%,
                rgb(185, 220, 225) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}